<h1>Pirate's Info</h1>
<form action="/pirates" method="post">
<p>Name: <input type="text" name="pirate[name]"></p>
<p>Weight: <input type="text" name="pirate[weight]"></p>
<p>Height: <input type="text" name="pirate[height]"></p>

<br>
<span>First Ship</span>
<p>Name: <input id="ship_name_1" type="text" name="pirate[ships][][name]"></p>
<p>Type: <input id="ship_type_1" type="text" name="pirate[ships][][type]"></p>
<p>Booty: <input id="ship_booty_1" type="text" name="pirate[ships][][booty]"></p>

<br>
<span>Second Ship</span>
<p>Name: <input id="ship_name_2" type="text" name="pirate[ships][][name]"></p>
<p>Type: <input id="ship_type_2" type="text" name="pirate[ships][][type]"></p>
<p>Booty: <input id="ship_booty_2" type="text" name="pirate[ships][][booty]"></p>

<br>
<input id="Submit" type="submit" name="Submit">
</form>